<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <h1>Book List</h1>
    </div>
    <div class="col-2">
      <a [routerLink]="['/add-book']" class="btn btn-success btn-lg" style="margin: 10px 0px 10px 0px;">Add new book</a>
    </div>
  </div>
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">All Book</a>
        <button (click)="toggleBooks()">
          <span *ngIf="!isShowing">Show Name</span>
          <span *ngIf="isShowing">Hide Name</span>
        </button>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" *ngIf="isShowing">Name</th>
            <th scope="col">Score</th>
            <th scope="col">Year</th>
            <th scope="col">Manage</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <th scope="row"></th>
            <td *ngIf="isShowing">{{book.name}}</td>
            <td>{{book.score}}</td>
            <td>{{book.year}}</td>
            <td style="display: flex; justify-content: space-between; width: 180px;">
              <a [routerLink]="['/book-detail', book.id]" class="btn btn-primary">Detail</a>
              <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>